<ion-view style="" id="page3" title="Corrida">
    <ion-content class="has-header" padding="true">

        <div class="item item-divider">Usuario: <b>{{instalador}}</b></div>

        <form name="form">
          <button class="button button-balanced  button-block"ng-click="abrirCorrida(); abrir=!abrir" ng-disabled="abrir" name="abrir" >Nova Corrida</button>

          <div ng-show="abre" class="alert alert-success" ng-controller="abrirCorridaCtrl">Corrida iniciada</div>

          <button class="button button-assertive button-block" ng-disabled="!abrir" ng-click="fecharCorrida(); abrir=!abrir" name="fechar">Fechar Corrida</button>

        </form>


    </ion-content>
</ion-view>
