<ion-view style="" id="page7" title="Login - Nova Senha">
    <ion-content class="has-header" padding="true" >
      <div class="logo">
        <img src="img/9Ka59FWTO2K6ohriE2Kw_1 - logo.png" />
      </div>
        <form style="" class="list" ng-controller="criarSenhaCtrl">


            <div style="width: 286px; height: 40px;" class="spacer"></div>
            <ion-list style="">
                <div>
                  <p class="alerta">Por favor insira uma nova senha!</p>
                </div>
                <label style="" class="item item-input">
                    <input placeholder="Nova Senha" type="text" ng-model="novaSenha" />
                </label>
                <div style="height: 5px;" class="spacer"></div>

            </ion-list>

            <a ng-click="criar()" class="button button-positive  button-block" ng-disabled="!novaSenha">Criar Senha</a>
        </form>
    </ion-content>
</ion-view>
