<ion-view style="" id="page7" title="Login">
    <ion-content class="has-header" padding="true" >
        <form style="" class="list">
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/9Ka59FWTO2K6ohriE2Kw_1 - logo.png" height="52" width="128" />
            </div>

            <div style="width: 286px; height: 40px;" class="spacer"></div>
            <ion-list style="">
                <div>
                  <p class="alerta">Por favor insira uma nova senha!</p>
                </div>
                <label style="" class="item item-input">
                    <input placeholder="Nova Senha" type="text" ng-model="novaSenha" />
                </label>
                <div style="height: 5px;" class="spacer"></div>

            </ion-list>

            <a ng-click="criar()" class="button button-positive  button-block" ng-disabled="!novaSenha">Criar Senha</a>
        </form>
    </ion-content>
</ion-view>
