
<ion-view style="" id="page2" title="Login">
    <ion-content class="has-header" padding="true"  ng-controller="loginCtrl">
        <form style="" class="list">
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/9Ka59FWTO2K6ohriE2Kw_1 - logo.png" height="52" width="128" />
            </div>

            <div style="width: 286px; height: 40px;" class="spacer"></div>
            <ion-list style="">
                <label style="" class="item item-input">
                    <input placeholder="Usuário" type="text" ng-model="usuario" />
                </label>
                <div style="height: 5px;" class="spacer"></div>
                <label style="" class="item item-input">
                    <input placeholder="Senha" type="password" ng-model="senha" />
                </label>

            </ion-list>

            <a ng-click="validarUsuario()" class="button button-positive  button-block" ng-disabled="!usuario || !senha" style="color:#FFFFFF;" id="login-button2">Log in</a>
        </form>
    </ion-content>
</ion-view>
