


<ion-view style="" id="page6" title="senha">
    <ion-content class="has-header" padding="true" >
        <form style="" class="list">
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/9Ka59FWTO2K6ohriE2Kw_1 - logo.png" height="52" width="128" />
            </div>
            <div style="width: 286px; height: 40px;" class="spacer"></div>

            <ion-list style="">
                <label style="" class="item item-input">
                    <input placeholder="Senha" type="text" ng-model="senha" />
                </label>
            </ion-list>

            <a ng-click="entrar()" class="button button-positive  button-block">Entrar</a>

        </form>
    </ion-content>
</ion-view>
